*{ 
    margin: 0;
    box-sizing: border-box;
}

:root{
        --headercolor:#A05467;
        --footercolor:#5E2433;
        --tekstcolor:#584F3F;
        --bgcolor:#D7CBB7; 
        --knapbg:#F2EBDE; 
        --skriftype1: "montserrat",sans-serif;
        --skriftype2: "Island Moments", cursive;
}

body{
    font-family: var(--skriftype1);
}

/* --------header---------------- */
.styl-navg{
    background-color: var(--headercolor);
    font-size: 14pt;
    color: white;
    display: flex;
    
    
}

.styl-navg img{
    height: 90px;
    width: 100px;
    margin: 15px;
    
}

.opdele-nav {
   display: flex;
   flex-direction: column;
   width: 100%;
   
}

.first-col{
    display: flex; 
    border-bottom: white solid 1px;
    padding-bottom: 10px;
   
}

.second-col{
    display: flex;
    gap: 15rem;
    margin-top: 15px;
    margin-left: 10rem; 
    
}



.styl-navg ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-top: 30px;
     
}
.styl-navg ul li a{
    text-decoration: none; 
    color: white;  
    
     
}

.first-col div{
    margin-top: 30px;
    margin-left: auto;
    margin-right: 2rem;
}



@media screen and (max-width:1000px){

    .styl-navg{
        font-size: 9pt;
        flex-wrap: wrap;
    }

    .styl-navg img {
        height: 50px;
        width: 60px;
        margin: auto;
        margin-top: 20px;
    }

    .opdele-nav{
        align-items: center;
    }

    .styl-navg ul{
        gap:20px;
        margin-left: auto;
        margin-top: 20px;
    }

    .second-col{
        
        flex-wrap: nowrap;
        gap: 20px;
        margin-left:0px;
        margin-top: 30px;
        margin-bottom: 30px;
       
    }

     .show{
        display: block; 
        position: absolute;
        top: 70px;
        background-color:var(--headercolor);
        width: 100%;
    }

     button#bars{
        background-color: transparent;
        border: none;
        color: white;
    
    }

    


}

