*{ 
    margin: 0;
    box-sizing: border-box;
}

:root{
        --headercolor:#A05467;
        --footercolor:#5E2433;
        --tekstcolor:#584F3F;
        --bgcolor:#D7CBB7; 
        --knapbg:#F2EBDE; 
        --skriftype1: "montserrat",sans-serif;
        --skriftype2: "Island Moments", cursive;
}

body{
    font-family: var(--skriftype1);
}

/* --------header---------------- */
.styl-navg{
    background-color: var(--headercolor);
    font-size: 14pt;
    color: white;
    display: flex;
    flex-direction: row;
    
    
}

.styl-navg img{
    height: 90px;
    width: 100px;
    margin: 15px;
    
}

.opdele-nav {
   display: flex;
   flex-direction: column;
   width: 90%;
   
}

.first-col{
    display: flex; 
    border-bottom: white solid 1px;
    padding-bottom: 10px;
   
}

.second-col{
    display: flex;
    gap: 15rem;
    margin-top: 15px;
    margin-left: 10rem; 
    flex-wrap: nowrap;
    
}



.styl-navg ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-top: 30px;
     
}
.styl-navg ul li a{
    text-decoration: none; 
    color: white;  
    
     
}

 .fa-magnifying-glass {
    
    margin-top: 30px;
    margin-left: auto;
    margin-right: 15px;
}

.fa-cart-shopping{
    margin-top: 30px;
    margin-right: 10px;
}

#bars{
    display:none;
}


 /* tablet og  mobile  */
@media screen and (max-width:768px){

    /* .styl-navg{
        font-size: 9pt;
        flex-wrap: wrap;
    }

    .styl-navg img {
        height: 50px;
        width: 60px;
        margin: auto;
        margin-top: 20px;
    }

    .opdele-nav{
        align-items: center;
    }

    .styl-navg ul{
        gap:20px;
        margin-left: auto;
        margin-top: 20px;
    }

    .second-col{
        
        flex-wrap: nowrap;
        gap: 20px;
        margin-left:0px;
        margin-top: 30px;
        margin-bottom: 30px;
       
    } */
     
    .styl-navg{
        flex-wrap: nowrap;
    }

    .styl-navg img {
        height: 70px;
        width: 80px;
        margin: auto;
        margin-top: 20px;
        margin-left: 15px;
    }

    
    .first-col ul li {
        display: none;
    }

   
    .first-col{
        border-bottom: none;
        
    }

    .second-col p{
        display: none;
    }

    .first-col  .fa-magnifying-glass{
       display: none;

    }


    .first-col .fa-cart-shopping{

        font-size: 25px;
        margin-right:15px;
        margin-left: auto;
        margin-top: 55px;

        
    }

     .show{
        display: block; 
        position: absolute;
        top: 5px;
        background-color:var(--headercolor);
        width: 100%;
        color: white;
    }

    
    #bars{
        display:block;
        font-size: 30px;
        margin-top: 50px;
        /* margin-left: auto; */
        margin-right: 10px;
    }

     button#bars{
        background-color: transparent;
        border: none;
        color: white;
        
    }

}

/* medium devices (lanscape tablet 768px and up) */
@media screen and (min-width:768px) and (max-width:1180px){

    .styl-navg{
        font-size: 12pt;
        flex-wrap: nowrap;
        
        
    }

    .styl-navg img {
        height: 70px;
        width: 80px;
        margin: auto;
        margin-top: 20px;
        
    }


    .styl-navg ul{
        gap:20px;
        /* margin-left: auto; */
        margin-top: 20px;
    }

    .second-col{
        
        flex-wrap: nowrap;
        gap: 20px;
        margin-left:150px;
        margin-top: 30px;
        margin-bottom: 30px;
        
    } 

    .first-col .fa-magnifying-glass{
       margin-left: auto;
        margin-right: 20px;
    }

    .first-col .fa-cart-shopping{
         
         margin-right: 10px;
    }
}






