*{ 
    margin: 0;
    box-sizing: border-box;
}

:root{
        --headercolor:#A05467;
        --footercolor:#5E2433;
        --tekstcolor:#584F3F;
        --bgcolor:#D7CBB7; 
        --knapbg:#F2EBDE; 
        --Montserrat: "montserrat",sans-serif;
        --Island_Moments: "Island Moments", cursive;
}

body{
    font-family:var(--Montserrat);
}

/* --------header---------------- */
.styl-navg{
    background-color: var(--headercolor);
    font-size: 14pt;
    color: white;
    display: flex;
    flex-direction: row;
    
    
}

.styl-navg img{
    height: 90px;
    width: 100px;
    margin: 15px;
    
}

.opdele-nav {
   display: flex;
   flex-direction: column;
   width: 90%;
   
}

.first-col{
    display: flex; 
    border-bottom: white solid 1px;
    padding-bottom: 10px;
   
}

.second-col{
    display: flex;
    gap: 15rem;
    margin-top: 15px;
    margin-left: 10rem; 
    flex-wrap: nowrap;
    
}



.styl-navg ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-top: 30px;
     
}
.first-col ul li a{
    text-decoration: none; 
    color: white;  
    
     
}

.first-col ul li a:hover{
    color: black;
}

 .fa-magnifying-glass {
    
    margin-top: 30px;
    margin-left: auto;
    margin-right: 15px;
}

.fa-cart-shopping{
    margin-top: 30px;
    margin-right: 10px;
}


.first-col button{
    display: none;
}

/* ------Footer---------- */

footer{
    background-color: var(--footercolor);
    color: white;
}
.footer_container{
    display: flex;
    gap:15rem;
}

.footer_container h1{
    font-size: 14pt;
}

.footer_container p{
    font-size: 12pt;
}
.footer_container div{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    
}

.footer_container .social-media{
    display: flex;
    flex-direction: row;
    margin-left: 0rem;
}

.fa-facebook-f{
    font-size: 16pt;
}

.fa-instagram{
    font-size: 16pt;
}
.footer_container a{
    text-decoration: none;
    color: white;
}

.footer_container a:hover{
    border-bottom: 1px solid white;
}

.ekstra_info{
    display: flex;
    gap:2rem;
    border-top: 2px solid white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
}

.ekstra_info p {
    margin-left: 3.5rem;
}

/* ----------------------main------------------- */

.styl-hero{
    width: 100%;
}

.velkom_section{
    color: var(--tekstcolor);
    text-align: center;
    margin-top: 2rem;
      
}
.velkom_section h2{
    padding-bottom:2rem;
    font-size: 14pt;
}

.velkom_section p {
    max-width: 70%;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 3rem;
}






 /* tablet og  mobile  */
@media screen and (max-width:768px){

     /* --------------header --------------- */
    .styl-navg{
        flex-wrap: nowrap;
    }

    .styl-navg img {
        height: 70px;
        width: 80px;
        margin: auto;
        margin-top: 20px;
        margin-left: 15px;
    }

    
    .first-col ul  {
        display: none;
    }


     

    nav.show .first-col ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: var(--headercolor);
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 20px;
        z-index: 1;
    }

    .first-col ul li a:hover{
        border-bottom: 2px solid white;
        color: white;
    }
    
    button#bars{/* ------style hamburger menu button ----- */
        background-color: transparent;
        border: none;
        color: white;
        display:block;
        font-size: 30px;
        margin-top: 50px;
        margin-right: 10px;
        position: relative;
        z-index: 2;
        
    }

   
    .first-col{
        border-bottom: none;
        
    }

    .second-col p{
        display: none;
    }

     .first-col  .fa-magnifying-glass{
       display: none;

    } 



    .first-col .fa-cart-shopping{
        font-size: 25px;
        margin-right:15px;
        margin-left: auto;
        margin-top: 55px;

        
    }

    


     

    /* --------------footer----------- */

    .footer_container{
        flex-wrap: wrap;
        gap:2rem;
    }

    .footer_container h1{
        font-size: 12pt;
    }

    .footer_container p{
        font-size: 9pt;
    }

    .footer_container div {
        margin-left: 1rem;
    }

    .ekstra_info {
        flex-wrap: wrap;
        justify-content: center;
        gap:1rem;

    }
    .ekstra_info p{
        font-size: 9pt;
        margin-left: 1rem;
    }


    /* ---------------- main--------------------- */

    .velkom_section h2 {
        margin-left:  20px;
        margin-right: 20px;
    }
    

}

/* medium devices (lanscape tablet 768px and up) */
@media screen and (min-width:768px) and (max-width:1180px){

    /* -----------------header-------------------- */

    .styl-navg{
        font-size: 12pt;
        flex-wrap: nowrap;
        
    }

    .styl-navg img {
        height: 70px;
        width: 80px;
        margin: auto;
        margin-top: 20px;
        
    }


    .styl-navg ul{
        gap:20px;
        /* margin-left: auto; */
        margin-top: 20px;
    }

    .second-col{
        flex-wrap: nowrap;
        gap: 20px;
        margin-left:150px;
        margin-top: 30px;
        margin-bottom: 30px;
        
    } 
    .second-col p {
        font-size: 10pt;
    }

    .first-col .fa-magnifying-glass{
       margin-left: auto;
        margin-right: 20px;
    }

    .first-col .fa-cart-shopping{
         
         margin-right: 10px;
    }

    /* ------------------footer------------------ */

     .footer_container{
        flex-wrap: wrap;
        /* justify-content: center; */
        gap:8rem;
    }

    .footer_container h1{
        font-size: 12pt;
    }

    .footer_container p{
        font-size: 10pt;
    }

    .footer_container div {
        margin-left:2rem;
    }

    .ekstra_info {
        flex-wrap: wrap;
        justify-content: center;
        gap:2rem;

    }
    .ekstra_info p{
        font-size: 10pt;
        margin-left: 1rem;
    }


}






